<div id="outer_lightbox">
	<div id="inner_lightbox">
		<p>Thanks for contacting us!</p>
		<button id="lb_ok">OK!</button>
		
	</div>
	
</div>
<div id="contact_container">
	<form id="contact">
		<label for="name">Name:</label>
		<input type="text" name="name" placeholder="Name:">
		<label for="email">Email:</label>
		<input type="text" name="email" placeholder="Your@email.com">
		<label for="message">Message:</label>
		<br>
		<textarea type="text" name="message" placeholder="Enter message here"></textarea>
		<button id="submit">Submit</button>	
	</form>
</div>
