<form id="contact">
	<label for="name">Name:</label>
	<input type="text" name="name" placeholder="Name:">
	<br>
	<label for="email">Email:</label>
	<input type="text" name="email" placeholder="Your@email.com">
	<br>
	<label for="message">Message:</label>
	<br>
	<textarea type="text" name="message" placeholder="Enter message here"></textarea>
</form>