

<h1 id="name">Fit Zone</h1>
<div id="home_container">
	<div id="home">
	<img class="model" src="images/pic4.png" style='width:100%;' border="0" alt="Null">
	<!-- <img class="model" src="http://placehold.it/1300x400"> -->
</div>
</div>


