<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Personal Training</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>HEADER</header>
	<nav id="nav_bar">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
	</nav>
<%= yield %>
	<nav id="sm_bar">
		<ul>
			<li><a href="#">Facebook</a></li>
			<li><a href="#">Twitter</a></li>
			<li><a href="#">Instagram</a></li>
			<li><a href="#">Something</a></li>
		</ul>
	</nav>
</body>
</html>